body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0;
}

/* Style the header section */
/* ************************ */

header {
  position: relative;
  background-image: url("images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  /* scale image with size of container */
  background-size: cover;
  height: 200px;
  color: white;
  /* here used for vertical centering of child elements */
  display: flex;
}
/* This content is added quite literally directly after the content of the header.
However, by placing the element absolutely and relative to the header element, we can
create a second layer! */
header::after {
  position: absolute;
  content: "";
  height: 200px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.65);
}

header div {
  /* position: relative; */
  /* center both heading elements inside this div horizontally */
  text-align: center;
  /* center the div vertically within the header element */
  margin: auto;
  /* to avoid that the div is overlayed by the header background (alternatively using position relative also fixes this */
  z-index: 10;
}

header div h1 {
  font-size: calc(1.475rem + 2.7vw);
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 8px;
}

header div p {
  display: block;
  font-weight: 300;
  font-size: 1.25rem;
  margin: 0;
}
